SANJCORP_POSTGRES=Host=localhost;Port=5432;Database=sanjcorp3d;Username=sanjcorp3d;Password=REEMPLAZAR
BootstrapAdmin__Username=administrador
BootstrapAdmin__Email=admin@example.com
BootstrapAdmin__Password=REEMPLAZAR_CON_UNA_CLAVE_LARGA
